@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.home__container {
  position: relative;
  min-height: 100%;
  min-width: 100%; }

.home__content {
  position: absolute;
  min-width: 95%;
  min-height: 95%;
  background-color: #f7f7f7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5); }

.home__title {
  position: absolute;
  text-align: center;
  font-size: 5rem;
  color: #1670b5;
  font-weight: 700;
  margin-bottom: 1rem;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 900px) {
    .home__title {
      font-size: 3.5rem;
      width: 100%; } }

.home__logo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 900px) {
    .home__logo {
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%); } }
  .home__logo img {
    width: 15rem;
    height: 10rem; }
    @media screen and (max-width: 900px) {
      .home__logo img {
        width: 12rem;
        height: 12rem;
        border-radius: 50rem; } }

.home__subtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1670b5;
  font-size: 2rem;
  font-weight: 500; }
  @media screen and (max-width: 900px) {
    .home__subtitle {
      font-size: 1.5rem;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%; } }

.home__description {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  font-weight: 300;
  font-size: 1.5rem; }
  .home__description > p {
    margin-bottom: 1rem; }
  @media screen and (max-width: 900px) {
    .home__description {
      font-size: 1.3rem;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%; } }

.home__contact {
  position: absolute;
  border-radius: 2rem;
  width: 50%;
  background-color: #1670b5;
  text-align: center;
  -webkit-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 900px) {
    .home__contact {
      font-size: 1.2rem;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%; } }
  .home__contact * {
    font-size: 1.5rem;
    font-weight: 500; }
  .home__contact span {
    min-width: 15px;
    height: 1rem;
    border-radius: 100rem;
    background-color: #f15f69;
    margin-left: 1.5rem; }
  .home__contact div {
    display: inline-block;
    color: #f15f69;
    margin: 1.5rem 0 1.5rem 1.5rem; }
    .home__contact div a {
      color: #eaf9ff;
      margin-left: 1.3rem;
      text-decoration: none; }
      .home__contact div a:hover {
        color: #f15f69; }

#linked {
  background-color: #eaf9ff;
  color: #1670b5;
  padding: .5rem 1rem; }
  #linked:hover {
    background-color: #f15f69; }
