@import '../../../../sass/base/variables.scss';
.home{
  &__container{
    position: relative;
    min-height: 100%;
    min-width: 100%;
  }

  &__content{
      position: absolute;
      min-width: 95%;
      min-height: 95%;
      background-color: #f7f7f7;
      @include center-transform(50%);
      @include shadow;

  }

  &__title{
    position: absolute;
    text-align: center;
    font-size: 5rem;
    color: $color-secondary;
    font-weight: 700;
    margin-bottom: 1rem;
    @include center-transform(10%);
    @media screen and(max-width: 900px){
      font-size: 3.5rem;
      width: 100%;
    }
  }
  &__logo{
    position: absolute;
    @include center-transform(30%);
    @media screen and(max-width: 900px){
      @include center-transform(25%);
    }

    & img{
      width: 15rem;
      height: 10rem;
      @media screen and(max-width: 900px){
        width: 12rem;
        height: 12rem;
        border-radius: 50rem;
      }
    }
  }

  &__subtitle{
    position: absolute;
    @include center-transform(50%);
    color: $color-secondary;
    font-size: 2rem;
    font-weight: 500;
      @media screen and(max-width: 900px){
        font-size: 1.5rem;
        @include center-transform(40%);
        width: 90%
      }
  }

  &__description{
    position: absolute;
    @include center-transform(65%);
    width: 50%;
    font-weight: 300;
    font-size: 1.5rem;
    & > p{
      margin-bottom: 1rem;
    }
    @media screen and(max-width: 900px){
      font-size: 1.3rem;
      @include center-transform(55%);
      width: 90%
    }
  }
  &__contact{
    position: absolute;
    border-radius: 2rem;
    width: 50%;
    background-color: $color-secondary;
    text-align: center;
    @include shadow;
    @include center-transform(90%);
    @media screen and(max-width: 900px){
      font-size: 1.2rem;
      @include center-transform(80%);
      width: 90%
    }

    & *{
      font-size: 1.5rem;
      font-weight: 500;
    }

    & span{
        min-width: 15px;
        height: 1rem;
        border-radius: 100rem;
        background-color: $color-highlight;
        margin-left: 1.5rem;
    }

    & div{
      display: inline-block;
      color: $color-highlight;
      margin: 1.5rem 0 1.5rem 1.5rem;

      & a{
        color: $sidebar-text-color ;
        margin-left: 1.3rem;
        text-decoration: none;

        &:hover{
          color: $color-highlight;
        }
      }
    }
  }
}

#linked{
  background-color: $sidebar-text-color;
  color: $color-secondary;
  padding: .5rem 1rem;
  &:hover{
    background-color: $color-highlight;
  }
}
