@import './variables.scss';

body{
    font-family: 'Roboto', sans-serif;
}

.sidebar__categorie--text{
    position: absolute;
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 1rem;
    // left: 0;
    padding-left: 5%;
    font-size: 1.7rem;
    font-weight: 400;
    color: $sidebar-text-color;
    width: 100%;
    height: 100%;
    transition: all .5s;

    &:hover{
      padding-left: 20%;
    }
}

.sidebar__userName{
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    font-weight: 200;
    font-size: 1.2rem;
    color: $sidebar-text-color;
    
}

.sidebar__description{
    color: $sidebar-text-color;
    font-weight: 300;
    padding: 1rem 1.4rem;
    text-align: justify;
    font-size: 1.2rem;
    & p {
        margin-bottom: 1rem;
    }
}