$color-primary: #0daeeb;
$color-secondary: #1670b5;
$content-text-color: #182a37;
$sidebar-text-color: #eaf9ff;
$color-highlight: #f15f69;

$small-screen: 800px;

@mixin shadow {
    -webkit-box-shadow: 0px 6px 24px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 24px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 6px 24px -5px rgba(0,0,0,0.5);
}

@mixin center-transform($top, $left: 50%){
    top: $top;
    left: $left;
    transform: translate(-50%, -50%);
}

@keyframes fade {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}