@import '../../sass/base/variables.scss';

.content-area{
  &__container{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 85%;
    height: 100%;
    overflow: auto;
    @media screen and (max-width: 800px){
      width: 100%;
      float: left;
    }
  }
  &__content{
    position: absolute;
    display: flex;
    min-width: 95%;
    min-height: 95%;
    background-color: #f7f7f7;
    @include shadow;
    @include center-transform(50%);
  }
}
