@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.content-area__container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 85%;
  height: 100%;
  overflow: auto; }
  @media screen and (max-width: 800px) {
    .content-area__container {
      width: 100%;
      float: left; } }

.content-area__content {
  position: absolute;
  display: flex;
  min-width: 95%;
  min-height: 95%;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
