.content__row {
  margin-left: 2rem;
  margin-bottom: 2rem; }
  .content__row::after, .content__row::before {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 800px) {
    .content__row {
      margin-left: 0; } }

.content__column {
  float: left;
  min-height: 1px; }
  @media screen and (max-width: 800px) {
    .content__column {
      width: 100%; } }
