.content__row{
  margin-left: 2rem;
  margin-bottom: 2rem;
  &::after, &::before{
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 800px){
    margin-left: 0;
  }
}

.content__column {
  float: left;
  min-height: 1px;
  // width: 50%;
  @media screen and (max-width: 800px){
    width: 100%;
  }
}
