@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.image__container {
  min-height: 50rem;
  width: 80%;
  position: relative;
  margin: 2.5rem auto 0 auto;
  border-radius: 5px; }
  @media screen and (max-width: 800px) {
    .image__container {
      width: 100%;
      min-height: 37rem;
      margin-bottom: 2rem; } }

.content__image {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  float: left;
  max-width: 40rem;
  width: 100%;
  height: 40rem;
  margin: 0 auto;
  line-height: 20rem;
  -webkit-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
  background: no-repeat center center;
  background-size: contain;
  transition: all .5s ease-in-out; }
  .content__image__shadow {
    position: absolute;
    float: left;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    height: 3rem;
    width: 90%;
    background: rgba(0, 0, 0, 0.1);
    filter: blur(0.3rem);
    border-radius: 100%; }
  @media screen and (max-width: 800px) {
    .content__image {
      height: 30rem; } }

.image__arrow--right {
  right: 0; }

.image__arrow--left, .image__arrow--right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 900;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  color: #c1d6e8;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: all .2s; }
  .image__arrow--left i, .image__arrow--right i {
    font-size: 8rem; }
  .image__arrow--left:hover, .image__arrow--right:hover {
    color: #f15f69; }

.move-enter {
  opacity: .01; }

.move-enter-active {
  opacity: 1;
  transition: all 500ms ease-in; }

.move-exit {
  opacity: 1; }

.move-exit-active {
  opacity: .01;
  transition: all 500ms ease-in; }
