@import '../../../sass/base/variables.scss';

.image__container {
    min-height: 50rem;
    width: 80%;
    position: relative;
    margin: 2.5rem auto 0 auto;
    border-radius: 5px;
    @media screen and (max-width: 800px){
      width: 100%;
      min-height: 37rem;
      margin-bottom: 2rem;
    }
}

.content__image{
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  float: left;
  max-width: 40rem;
  width: 100%;
  height: 40rem;
  margin: 0 auto;
  line-height: 20rem;
  @include shadow;
  background: no-repeat center center;
  background-size: contain;
  transition: all .5s ease-in-out;
  &__shadow{
    position: absolute;
    float: left;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    height: 3rem;
    width: 90%;
    background: rgba(0, 0, 0, 0.1);
    filter: blur(.3rem);
    border-radius: 100%;
  }
  @media screen and (max-width: 800px){
    height: 30rem;
  }
}

.image__arrow{
  &--right{
    right: 0;
  }
  &--left, &--right{
      & i{
        font-size: 8rem;
      }
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 900;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  color: #c1d6e8 ;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: all .2s;
  &:hover {
    color: $color-highlight
  }
  }
}
.move{
  &-enter{
    opacity: .01;
  }

  &-enter-active{
    opacity: 1;
    transition: all 500ms ease-in;
  }

  &-exit{
    opacity: 1;
  }

  &-exit-active{
    opacity: .01;
    transition: all 500ms ease-in;
  }
}
