@import '../../sass/base/variables.scss';

.avatar{
    margin: auto;
  .avatar__image{
    margin-top: 30%;
    position: relative;
    width: 60%;
    border-radius: 50%;
    @include shadow;
  }
}
