@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.avatar {
  margin: auto; }
  .avatar .avatar__image {
    margin-top: 30%;
    position: relative;
    width: 60%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5); }
