@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.sidebar__categorie {
  position: relative;
  list-style-type: none;
  margin-bottom: 1rem;
  height: 4rem;
  transition: all .5s; }
  .sidebar__categorie:hover {
    background-color: #1670b5;
    -webkit-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5); }
  .sidebar__categorie a {
    text-decoration: none; }
  .sidebar__categorie--selected {
    text-align: center;
    background-color: #1670b5;
    margin-right: 1.3rem;
    margin-left: 1.3rem;
    padding-left: 0;
    -webkit-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5); }
