@import '../../sass/base/variables.scss';
  
.sidebar__categorie{
  position: relative;
  list-style-type: none;
  margin-bottom: 1rem;
  height: 4rem;
  // padding: 1rem 0;
  transition: all .5s;

  &:hover{
    background-color: $color-secondary;
    @include shadow;
  }
  a{
    text-decoration: none;
  }

  &--selected{
    text-align: center;
    background-color: $color-secondary;
    margin-right:  1.3rem;
    margin-left: 1.3rem;
    padding-left: 0;
    @include shadow;
  }
}
