@import '../../sass/base/variables.scss';
.sidebar{
  &__container{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 15%;
    overflow: hidden;
  }
  &__body{
    display: fixed;
  text-align: center;
  background-color: $color-primary;
  height: 100%;
  width: 100%;
  }

  .sidebar__categories{
    padding: 0;
  }
}

.bm {
  &-burger{
    &-button{
      position: fixed;
      border-radius: 3rem;
      width: 5%;
      height: 3rem;
      top: 0;
      left: 0;
      margin-left: 1rem;
      margin-top: 1rem;
    }
    &-bars{
      background: $color-primary;
    }
  }
  &-cross{
    background: white;
  }
  &-menu{
    background: $color-primary;
    padding: 4rem 1.5rem 0;
  }
}
