@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.sidebar__container {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 15%;
  overflow: hidden; }

.sidebar__body {
  display: fixed;
  text-align: center;
  background-color: #0daeeb;
  height: 100%;
  width: 100%; }

.sidebar .sidebar__categories {
  padding: 0; }

.bm-burger-button {
  position: fixed;
  border-radius: 3rem;
  width: 5%;
  height: 3rem;
  top: 0;
  left: 0;
  margin-left: 1rem;
  margin-top: 1rem; }

.bm-burger-bars {
  background: #0daeeb; }

.bm-cross {
  background: white; }

.bm-menu {
  background: #0daeeb;
  padding: 4rem 1.5rem 0; }
