@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.proyect__container {
  height: 35rem;
  width: 40%;
  max-width: 55rem;
  position: relative;
  -webkit-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
  border-radius: .2rem;
  margin-top: 7rem;
  margin-bottom: 3.5rem; }
  @media screen and (max-width: 800px) {
    .proyect__container {
      width: 85%;
      height: 30rem; } }
  .proyect__container__title {
    position: absolute;
    top: -13%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 500;
    color: #1670b5;
    display: block; }
    @media screen and (max-width: 90rem) {
      .proyect__container__title {
        font-size: 1.7rem; } }
  .proyect__container__image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  .proyect__container__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: justify;
    padding: 1.5rem;
    opacity: 0;
    transition: all .5s ease; }
    .proyect__container__overlay p {
      margin-bottom: 0.5rem; }
    .proyect__container__overlay button {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30%;
      height: 10%;
      border: none;
      font: inherit;
      font-size: 1.5rem;
      font-weight: 500;
      background-color: #0daeeb;
      border-radius: 50px;
      color: white;
      transition: all .5 linear;
      -webkit-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5); }
      .proyect__container__overlay button:focus {
        outline: 0; }
      .proyect__container__overlay button:hover {
        cursor: pointer;
        background-color: #f15f69; }
    .proyect__container__overlay:hover {
      opacity: 1; }
