@import '../../../sass/base/variables.scss';

.proyect__container{
  height: 35rem;
  width: 40%;
  max-width: 55rem;
  position: relative;
  @include shadow;
  border-radius: .2rem;
  margin-top: 7rem;
  margin-bottom: 3.5rem;
  @media screen and(max-width: 800px){
    width: 85%;
    height: 30rem;
  }
  &__title{
    position: absolute;
    top: -13%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 500;
    color: $color-secondary;
    display: block;
    @media screen and(max-width: 90rem){
      font-size: 1.7rem;
    }
  }
  &__image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: rgba(0,0,0,.7);
    color: white;
    text-align: justify;
    padding: 1.5rem;
    opacity: 0;
    transition: all .5s ease;

    & p{
      margin-bottom: 0.5rem;
    }

    & button{
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30%;
      height: 10%;
      border: none;
      font: inherit;
      font-size: 1.5rem;
      font-weight: 500;
      background-color: $color-primary;
      border-radius: 50px;
      color: white;
      transition: all .5 linear;
      @include shadow;

      &:focus{
        outline: 0;
      }

      &:hover{
        cursor: pointer;
        background-color: $color-highlight;
      }
    }

    &:hover{
      opacity: 1;
    }
  }
}
