@import '../../sass/base/variables.scss';

.proyect-index{

  &__container{
    width: 100%;
  }

  &__title{
    width: 100%;
    text-align: center;
    font: inherit;
    font-size: 5rem;
    font-weight: 700;
    color: $color-secondary;
    margin-top: 5.4rem;
    margin-bottom: 3rem;
    @media screen and(max-width: 900px){
      font-size: 4rem;
    }
  }

  &__list{
    align-self: center;
    width: 100%;
  }
}
