@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.proyect-index__container {
  width: 100%; }

.proyect-index__title {
  width: 100%;
  text-align: center;
  font: inherit;
  font-size: 5rem;
  font-weight: 700;
  color: #1670b5;
  margin-top: 5.4rem;
  margin-bottom: 3rem; }
  @media screen and (max-width: 900px) {
    .proyect-index__title {
      font-size: 4rem; } }

.proyect-index__list {
  align-self: center;
  width: 100%; }
