*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  height: 100%; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  font-family: 'Roboto', sans-serif; }

.sidebar__categorie--text {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: 1rem;
  padding-left: 5%;
  font-size: 1.7rem;
  font-weight: 400;
  color: #eaf9ff;
  width: 100%;
  height: 100%;
  transition: all .5s; }
  .sidebar__categorie--text:hover {
    padding-left: 20%; }

.sidebar__userName {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  font-weight: 200;
  font-size: 1.2rem;
  color: #eaf9ff; }

.sidebar__description {
  color: #eaf9ff;
  font-weight: 300;
  padding: 1rem 1.4rem;
  text-align: justify;
  font-size: 1.2rem; }
  .sidebar__description p {
    margin-bottom: 1rem; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.App {
  width: 100vw;
  height: 100vh;
  position: relative; }
  .App::after {
    content: "";
    display: table;
    clear: both; }
