@import './sass/base/base.scss';
@import './sass/base/typography.scss';
@import './sass/base/variables.scss';

.App{
    width: 100vw;
    height: 100vh;
    position: relative;
    
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}