@import '../../../sass/base/variables.scss';

.description{
  &__container {
    min-height: 50rem;
    width: 80%;
    position: relative;
    margin: 2.5rem auto 0 auto;
  }
  &__title{
    color: $color-secondary;
    font-weight: 700;
    font-size: 4rem;
    font-style: italic;
    margin-bottom: 1.2rem;
    @media screen and (max-width: 800px){
      font-size: 2.5rem;
      text-align: center;
    }
  }
  &__body{
    color: $content-text-color;
    font-weight: 300;
    font-size: 1.5rem;
    font-style: italic;
    text-align: justify;
    & span{
      display: inline-block;
      margin-bottom: 1.5rem;
    }
    @media screen and (max-width: 800px){
      font-size: 1.2rem;
    }
  }
  &__button {
    border: none;
    width: 13rem;
    height: 3.5rem;
    background-color: $color-secondary;
    font-weight: 500;
    font-size: 1.6rem;
    border-radius: 0 0 8.7rem 8.7rem;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    margin-bottom: 2rem;
    @include shadow;
    & a{
      text-decoration: none;
      color: $sidebar-text-color;
    }

    @media screen and (max-width: 800px){
      font-size: 1.2rem;
      width: 11rem;
      height: 3rem;
    }

    &:hover{
      background-color: $color-highlight;
      cursor: pointer;
    }

    &:focus{
      outline: 0;
    }
  }
}
