@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.description__container {
  min-height: 50rem;
  width: 80%;
  position: relative;
  margin: 2.5rem auto 0 auto; }

.description__title {
  color: #1670b5;
  font-weight: 700;
  font-size: 4rem;
  font-style: italic;
  margin-bottom: 1.2rem; }
  @media screen and (max-width: 800px) {
    .description__title {
      font-size: 2.5rem;
      text-align: center; } }

.description__body {
  color: #182a37;
  font-weight: 300;
  font-size: 1.5rem;
  font-style: italic;
  text-align: justify; }
  .description__body span {
    display: inline-block;
    margin-bottom: 1.5rem; }
  @media screen and (max-width: 800px) {
    .description__body {
      font-size: 1.2rem; } }

.description__button {
  border: none;
  width: 13rem;
  height: 3.5rem;
  background-color: #1670b5;
  font-weight: 500;
  font-size: 1.6rem;
  border-radius: 0 0 8.7rem 8.7rem;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.5); }
  .description__button a {
    text-decoration: none;
    color: #eaf9ff; }
  @media screen and (max-width: 800px) {
    .description__button {
      font-size: 1.2rem;
      width: 11rem;
      height: 3rem; } }
  .description__button:hover {
    background-color: #f15f69;
    cursor: pointer; }
  .description__button:focus {
    outline: 0; }
